*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#wrapper {
  place-items: center;
  height: 100vh;
}

#container {
  width: 50vh;
  height: 75vh;
}

#wrapper-select {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 10px;
}

#container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 2fr));
    grid-template-rows: repeat(2, minmax(150px, 2fr));
}

#container ul img {
    width: 100%;
    height: auto;
}